.wrapper{
    position:fixed;
    display: flex;
    justify-content: center;
    

}
.title{
    justify-content: left;
    align-items: center;
}

.body{
    background-color: tan;
}
.img{
    height: 100px;
    width: 100px;
}
.one{
    background: white;
    text-align: center;
}
.two{
    background: blue;
    text-align: center;
}
.three{
    background: red;
    text-align: center;
}